@import "tailwindcss" prefix(tw);

/* Note: At the moment, I don't think you can use a different `separator` */

/* Minimalist theme used for testing */
@theme {
  --*: initial;
  --color-tiny: #123456;
  --spacing: 1px;
  --font-body: Inter, sans-serif;
  --container-lg: 1024px;
}
